.form-box {
    background: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input.error {
    border-color: red;
}
.error-text {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
.btn-save {
    width: 100%;
    padding: 12px;
    background: #0056d2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.btn-save:hover {
    background: #003f9a;
}
.lable-color {
    color: grey;
    align-items: start;
    display: flex;
}
